# Core functionality - changes here should be rare!
/src/app.py                   @swornims
/src/backend/database.py      @swornims
/src/backend/routers/auth.py  @swornims

# The frontend will need refactored soon to be more object oriented.
/src/static/   @swornims
